.headerContainer {
    background-color: #eeada2;
    color: #122d1d;
    border-style: groove;
    border-color: #aa3d46;
    border-width: 5px;
}

body {
    background-image: url("./plantBack.jpg");

}

.tableContainer {
    background-color: #eeada2;
    color: #122d1d;
    border-style: groove;
    border-color: #aa3d46;
    border-width: 5px;
    font-size: x-large;
}

.picture {
    height: 100px;
    width: 150px;
    border-style: groove;
    border-color: #aa3d46;
    border-width: 2px;
}